.emblema-one-regular {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .emblema-one-regular {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  
.montagu-slab-uniquifier {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  

body {
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1669474643202-68018db3fd64?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyYSUyMGRlJTIwZ2F0byUyMG5lZ3JvfGVufDB8fDB8fHww");
    
}

p {color: white;
font-family: "Montagu Slab", serif;}

ul {font-family: "Montagu Slab", serif;;}

.ola {background-color: rgba(0, 0, 0, 0.555)}

h1 {color: rgb(219, 226, 20);
font-weight: bold;}

h2 {color: rgb(219, 226, 20);
font-weight: bold;}

ul {color: white;
font-weight: bold}

a {color: red;
font-weight: bold;}

img {border-radius: 10%;
width: 500px;
height: 500px;
}

.mesa {width: 600px;
height: 700px;}

.silla {width: 600px;
    height: 700px;}

.pared {width: 600px;
        height: 700px;}

div {display: flex;
justify-content: center;}